@import "./variables/variables.scss";
@mixin defaultColorAndFont($font-size: 1rem) {
    font-size: $font-size;
    background-color: $primaryColorBlue;
    color: white;
    font-family: $primaryFont;
    
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    @include defaultColorAndFont(1rem);
}
.taskbars p {
    font-size: .7rem;
    font-weight: 400;

}
.inputCont input {
    width: 25rem;
    border: 2px solid $primaryColorBlue;
}
.but input {
    @include defaultColorAndFont(1rem);
}
.logo {
    color: $primaryColorBlue;
}
.mobileSearchCont {
    border: 1.5px solid $primaryColorBlue;
}
input[type='text']:focus{
    outline: none;
}
.rightBar {
    transition: all .3s;
}
.bigText {
    color: $primaryColorBlue;
}
@media screen and (max-width: 1029px) {
    .inputCont input {
        width: 15rem;
    }
    .input {
        font-size: 1rem ;
    }
}
.heroBtn, .heroBtnn {
    width: 48%;
    border-color: $primaryColorBlue;
    transition: all .2s;
}
.heroBtnn {
    background-color: $primaryColorBlue;
    color: white;
}
.heroBtnn:hover {
    background-color: white;
    color: $primaryColorBlue;
}
.heroBtn:hover {
    background-color: $primaryColorBlue;
    color: white;
}
.prdtGrd {
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-auto-rows: 300px
}
.bgPrdtHed {
    color: $primaryColorBlue;
}
.smPrdtP span{
    color: $primaryColorBlue;
    cursor: pointer;
}
.headerCont {
    background: url(/public/assets/images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 50%;
    background-size: 190rem;
}
@media screen and (max-width: 620px) {
    .headerCont {
        background-position: top 10%;
        background-size: 68rem;
    }
}
.easy {
    background:linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(/public/assets/images/delivery.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.cards {
    background-color: $primaryColorBlue;
}
.cards:hover {
    background-color: white;
    color: $primaryColorBlue;
}
.crdCont{
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 200px
}
#footer {
    background-color: $primaryColorBlue;
}